body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4b0048;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: center;
  }
  
  a {
    color: #4b0048;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    margin-top: 2rem;
  }