body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  h1{
    text-align: center;
  }
  
  header {
    background: lightgreen;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  nav{
    grid-column: 1 / 4;
    float: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: center;
   
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  main {
    background: coral;
    grid-column: 1 / 4;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  
  }
  .grid-container > div {
  
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    padding: 220px 280px;
    font-size: 30px;
  
  }
  .item1{
    text-align: center;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }  
   .main {
    padding: 1rem;
  }
  